.main-container{
    display: flex;
    position: relative;
    top: 50px;
}

.repos {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: auto;
    overflow-y: auto;
    height: calc( 100vh - 115px );
    border-bottom: 1px solid #eee;
    overflow-x: hidden;
}

.info-el {
    text-align: center;
    width: 25vw;
    margin: auto;
    padding: 10px;
    background: #4a4646;
    color: white;
    position: relative;
    top: calc(100vh/4);
    left: calc(100vw/4);
    z-index: 99999999;
}

.info-el-loading{
    text-align: center;
    width: 25vw;
    margin: auto;
    padding: 10px;
    background: #4a4646;
    color: white;
    position: relative;
    top: calc(100vh/4);
    /* left: calc(100vw/2); */
    z-index: 99999999;
}

.loading-mask{
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    /* opacity: 0.5; */
    background-color: #bbb;
    position: absolute;
    overflow: hidden;
    
}

.repo-header {
    padding: 0px 30px;
    background-color: #bbb;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    border: 1px solid #eee;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    margin: auto;
    margin-top: 0px;
    height: 50px;
}

.repo-header:hover,
.repo-header:active {
    background-color: #C0DDF5;
}

.repo-header-item {
    font-size: large;
    margin: 16px 0;
}