.repo {
    display: flex;
    justify-content: space-between;
    border: 1px solid #eee;
    min-height: 50px;
    cursor: pointer;
}

.repo.selected {
    background-color: #7b96e8;
}

.repo:hover,
.repo:active {
    background-color: #C0DDF5;
}

.repo-item {
    margin: 16px 0;
    padding: 0px 30px;
}